behaviourDesc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3schools.com" targetNamespace="http://www.w3schools.com" elementFormDefault="qualified" >
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="uuid"/>
        <xs:element ref="experimentDefinition"/>
        <xs:element ref="environmentDefinition"/>
        <xs:element ref="about"/>
        <xs:element ref="public"/>
        <xs:element ref="public_set_date"/>
        <xs:element ref="description"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uuid" type="xs:string"/>
  <xs:element name="experimentDefinition">
    <xs:complexType>
      <xs:all>
        <xs:element ref="interactionAtSpecificTime" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="interactionFromt0tot1" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="experimentWideConf" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="description" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="experimentDuration" minOccurs="1" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="interactionAtSpecificTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="list-item"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="interactionFromt0tot1">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="list-item"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="experimentWideConf">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="list-item"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="experimentDuration" type="xs:positiveInteger"/>
  <xs:element name="environmentDefinition">
    <xs:complexType>
      <xs:all>
        <xs:element ref="wormStatus" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="plateConfiguration" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="crowding" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="description" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="envTemp" minOccurs="1" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="wormStatus">
    <xs:complexType>
      <xs:all>
        <xs:element ref="wormData" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="xCoordFromPlateCentre" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="yCoorDFromPlateCentre" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="angleRelativeXaxis" minOccurs="1" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="wormData">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="gender" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="age" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="stageOfLifeCycle" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="timeOffFood" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gender" type="genderStrings"/>
  <xs:element name="age" type="xs:positiveInteger"/>
  <xs:element name="stageOfLifeCycle" type="xs:positiveInteger"/>
  <xs:element name="timeOffFood" type="xs:positiveInteger"/>
  <xs:element name="yCoorDFromPlateCentre" type="xs:float"/>
  <xs:element name="angleRelativeXaxis" type="xs:float"/>
  <xs:element name="plateConfiguration">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          INFO: Given that the Si elegans GUI doesn't delete Cylinder / Cube / Hexagon when changed from one to the other, to keep values that were set, it has been relaxed in the following from choice to minOccurs="0" and maxOccurs="1", the bad part is that xmls having neither of them will also validate          
          TODO: When upgrading to XSD1.1 check that based on shape the corresponding Cylinder / Cube / Hexagon exists 
        </xs:documentation>
      </xs:annotation>
      <xs:all>
        <xs:element ref="Cylinder" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="Cube" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="Hexagon" minOccurs="0" maxOccurs="1"/>       
        <xs:element ref="lid" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="bottomMaterial" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="dryness" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="shape" minOccurs="1" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cylinder">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="length"/>
        <xs:element ref="radius"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cube">
    <xs:complexType>
      <xs:all>
        <xs:element ref="depth" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="side1Length" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="side2Length" minOccurs="1" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hexagon">
    <xs:complexType>
      <xs:all>
        <xs:element ref="depth" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="sideLength" minOccurs="1" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="length" type="xs:float"/>
  <xs:element name="depth" type="xs:float"/>
  <xs:element name="side1Length" type="xs:float"/>
  <xs:element name="side2Length" type="xs:float"/>
  <xs:element name="sideLength" type="xs:float"/>
  <xs:element name="radius" type="xs:float"/>
  <xs:element name="lid" type="python_boolean"/>
  <xs:element name="bottomMaterial" type="bottomMaterialStrings"/>
  <xs:element name="dryness" type="xs:float"/>
  <xs:element name="shape" type="shapeStrings"/>
  <xs:element name="crowding">
    <xs:complexType>
      <xs:all>
        <xs:element ref="wormsDistributionInPlate" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="wormsInPlate" minOccurs="1" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="wormsDistributionInPlate" type="xs:string"/>
  <xs:element name="wormsInPlate" type="xs:positiveInteger"/>
  <xs:element name="envTemp" type="xs:float"/>
  <xs:element name="about" type="xs:string"/>
  <xs:element name="public" type="python_boolean"/>
  <xs:element name="public_set_date" type="xs:dateTime"/>
  <xs:element name="list-item">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          INFO: Here instead of xs:all as in other elements, sequence + choice is used, since the Si elegans GUI doesn't allow to change type once an element is added, so multiple objects option is not possible          
          TODO: When upgrading to XSD1.1 check that based on experimentCategory the corresponding chemotaxis / galvanotaxis / mechanosensation / phototaxis /  termotaxis exists 
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="chemotaxis"/>
          <xs:element ref="galvanotaxis"/>
          <xs:element ref="mechanosensation"/>
          <xs:element ref="phototaxis"/>
          <xs:element ref="termotaxis"/>                  
        </xs:choice>
        <xs:element ref="description"/>
        <xs:choice>
          <xs:sequence>
            <xs:element ref="eventTime"/>  
          </xs:sequence>
          <xs:sequence>
            <xs:element ref="eventStartTime"/>
            <xs:element ref="eventStopTime"/>
          </xs:sequence>
          <xs:sequence/>          
        </xs:choice>
        <xs:element ref="experimentCategory"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chemotaxis">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          INFO: Given that the Si elegans GUI doesn't delete staticPointSourceConf / osmoticRing / chemotaxisQuadrants1 / chemotaxisQuadrants2 / chemotaxisQuadrants4 when changed from one to the other, to keep values that were set, it has been relaxed in the following from choice to minOccurs="0" and maxOccurs="1", the bad part is that xmls having neither of them will also validate          
          TODO: Once set chemicalCategory or chemotaxisType for all in the Si elegans Behavioural experiment model, only leave one and set minOccurs="1" for it 
          TODO: When upgrading to XSD1.1 check that based on chemotaxisType the corresponding staticPointSourceConf / osmoticRing / chemotaxisQuadrants1 / chemotaxisQuadrants2 / chemotaxisQuadrants4 exists                    
        </xs:documentation>
      </xs:annotation>
      <xs:all>        
        <xs:element ref="dynamicDropTestConf" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="staticPointSourceConf"  minOccurs="0" maxOccurs="1"/>
        <xs:element ref="osmoticRing"  minOccurs="0" maxOccurs="1"/>
        <xs:element ref="chemotaxisQuadrants1"  minOccurs="0" maxOccurs="1"/>
        <xs:element ref="chemotaxisQuadrants2"  minOccurs="0" maxOccurs="1"/>
        <xs:element ref="chemotaxisQuadrants4"  minOccurs="0" maxOccurs="1"/>
        <xs:element ref="description" minOccurs="1" maxOccurs="1"/>        
        <xs:element ref="chemicalCategory" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="chemotaxisType" minOccurs="0" maxOccurs="1"/>        
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="dynamicDropTestConf">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="chemical"/>
        <xs:element ref="dropQuantity"/>
        <xs:element ref="chemicalConcentration"/>
        <xs:element ref="xCoordFromPlateCentre"/>
        <xs:element ref="yCoordFromPlateCentre"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="staticPointSourceConf">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="chemical"/>
        <xs:element ref="dropQuantity"/>
        <xs:element ref="chemicalConcentration"/>
        <xs:element ref="xCoordFromPlateCentre"/>
        <xs:element ref="yCoordFromPlateCentre"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="osmoticRing">
    <xs:complexType>
      <xs:all>
        <xs:element ref="ringChemical"/>
        <xs:element ref="chemicalConcentration"/>
        <xs:element ref="internalRadius"/>
        <xs:element ref="externalRadius"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="chemotaxisQuadrants1">
    <xs:complexType>
      <xs:all>
        <xs:element ref="quadrantChemical"/>
        <xs:element ref="quadrantChemicalConcentration"/>        
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="chemotaxisQuadrants2">
    <xs:complexType>
      <xs:all>
        <xs:element ref="quadrant_1_Chemical"/>
        <xs:element ref="quadrant_2_Chemical"/>
        <xs:element ref="quadrant_1_ChemicalConcentration"/>
        <xs:element ref="quadrant_2_ChemicalConcentration"/>
        <xs:element ref="quadrantBarrierChemical"/>
        <xs:element ref="quadrantBarrierChemicalConcentration"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="chemotaxisQuadrants4">
    <xs:complexType>
      <xs:all>
        <xs:element ref="quadrant_1_Chemical"/>
        <xs:element ref="quadrant_2_Chemical"/>
        <xs:element ref="quadrant_3_Chemical"/>
        <xs:element ref="quadrant_4_Chemical"/>
        <xs:element ref="quadrant_1_ChemicalConcentration"/>
        <xs:element ref="quadrant_2_ChemicalConcentration"/>
        <xs:element ref="quadrant_3_ChemicalConcentration"/>
        <xs:element ref="quadrant_4_ChemicalConcentration"/>
        <xs:element ref="quadrantBarrierChemical"/>
        <xs:element ref="quadrantBarrierChemicalConcentration"/>
      </xs:all>
    </xs:complexType>
  </xs:element>  
  <xs:element name="internalRadius" type="xs:float"/>
  <xs:element name="externalRadius" type="xs:float"/>
  <xs:element name="chemicalCategory" type="chemicalCategoryString"/>
  <xs:element name="chemotaxisType" type="chemicalCategoryString"/>
  <xs:element name="galvanotaxis">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="electricShockConf"/>
        <xs:element ref="description"/>
        <xs:element ref="galvanotaxisType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="electricShockConf">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="amplitude"/>
        <xs:element ref="shockDuration"/>
        <xs:element ref="shockFrequency"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="amplitude" type="xs:float"/>
  <xs:element name="shockDuration" type="xs:positiveInteger"/>
  <xs:element name="shockFrequency" type="xs:float"/>
  <xs:element name="galvanotaxisType" type="galvanotaxisTypeString"/>
  <xs:element name="mechanosensation">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          INFO: Given that the Si elegans GUI doesn't delete plateTap / directTouch when changed from one to the other, to keep values that were set, it has been relaxed in the following from choice to minOccurs="0" and maxOccurs="1", the bad part is that xmls having neither of them will also validate          
          TODO: When upgrading to XSD1.1 check that based on interactionType the corresponding plateTap or directTouch exists 
        </xs:documentation>
      </xs:annotation>
      <xs:all>        
        <xs:element ref="plateTap" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="directTouch" minOccurs="0" maxOccurs="1"/>                
        <xs:element ref="description" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="interactionType" minOccurs="1" maxOccurs="1"/>
      </xs:all>     
    </xs:complexType>
  </xs:element>
  <xs:element name="plateTap">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="appliedForce"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="directTouch">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="directTouchInstrument"/>
        <xs:element ref="touchDistance"/>
        <xs:element ref="touchAngle"/>
        <xs:element ref="appliedForce"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element> 
  <xs:element name="directTouchInstrument" type="directTouchInstrumentStrings"/>
  <xs:element name="touchDistance" type="xs:float"/>
  <xs:element name="touchAngle" type="xs:float"/>
  <xs:element name="appliedForce" type="xs:float"/>
  <xs:element name="interactionType" type="interactionTypeString"/>
  <xs:element name="phototaxis">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="pointSourceLightConf"/>
        <xs:element ref="description"/>
        <xs:element ref="phototaxisType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pointSourceLightConf">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="waveLength"/>
        <xs:element ref="intensity"/>
        <xs:element ref="lightingPointDistance"/>
        <xs:element ref="lightBeamRadius"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="waveLength" type="xs:float"/>
  <xs:element name="intensity" type="xs:float"/>
  <xs:element name="lightingPointDistance" type="xs:float"/>
  <xs:element name="lightBeamRadius" type="xs:float"/>
  <xs:element name="phototaxisType" type="phototaxisTypeStrings"/>
  <xs:element name="termotaxis">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          INFO: Given that the Si elegans GUI doesn't delete temperatureChangeInTime / pointSourceHeatAvoidance when changed from one to the other, to keep values that were set, it has been relaxed in the following from choice to minOccurs="0" and maxOccurs="1", the bad part is that xmls having neither of them will also validate          
          TODO: When upgrading to XSD1.1 check that based on termotaxisType the corresponding pointSourceHeatAvoidance or pointSourceHeatAvoidance exists  
        </xs:documentation>
      </xs:annotation>
      <xs:all>
        <xs:element ref="linearThermalGradient" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="temperatureChangeInTime" minOccurs="0" maxOccurs="1"/> 
        <xs:element ref="pointSourceHeatAvoidance" minOccurs="0" maxOccurs="1"/>                
        <xs:element ref="description" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="termotaxisType" minOccurs="1" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="linearThermalGradient">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="temperatureRightHorizonal"/>
        <xs:element ref="temperatureLeftHorizontal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="temperatureRightHorizonal" type="xs:float"/>
  <xs:element name="temperatureLeftHorizontal" type="xs:float"/>
  <xs:element name="temperatureChangeInTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="initialTemperature"/>
        <xs:element ref="finalTemperature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="initialTemperature" type="xs:float"/>
  <xs:element name="finalTemperature" type="xs:float"/>
  <xs:element name="pointSourceHeatAvoidance">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="temperature"/>
        <xs:element ref="heatPointDistance"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="temperature" type="xs:float"/>
  <xs:element name="heatPointDistance" type="xs:float"/>
  <xs:element name="termotaxisType" type="termotaxisTypeStrings"/>
  <xs:element name="eventTime" type="xs:float"/>
  <xs:element name="eventStartTime" type="xs:float"/>
  <xs:element name="eventStopTime" type="xs:float"/>
  <xs:element name="experimentCategory" type="experimentCategoryStrings"/>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="xCoordFromPlateCentre" type="xs:float"/>  
  <xs:element name="dropQuantity" type="xs:float"/>
  <xs:element name="chemicalConcentration" type="xs:float"/>
  <xs:element name="yCoordFromPlateCentre" type="xs:float"/>
  <xs:element name="diffusionCoefficient" type="xs:float"/>
  <xs:element name="chemical_name" type="chemicalStrings"/>
  <xs:element name="isVolatile" type="python_boolean"/>
  <xs:element name="volatilitySpeed" type="xs:float"/>
  <xs:element name="quadrantChemical" type="chemicalType"/>  
  <xs:element name="quadrant_1_Chemical" type="chemicalType"/>
  <xs:element name="quadrant_2_Chemical" type="chemicalType"/>
  <xs:element name="quadrant_3_Chemical" type="chemicalType"/>
  <xs:element name="quadrant_4_Chemical" type="chemicalType"/>
  <xs:element name="quadrantBarrierChemical" type="chemicalType"/>
  <xs:element name="quadrantChemicalConcentration" type="xs:float"/>   
  <xs:element name="quadrant_1_ChemicalConcentration" type="xs:float"/>
  <xs:element name="quadrant_2_ChemicalConcentration" type="xs:float"/>
  <xs:element name="quadrant_3_ChemicalConcentration" type="xs:float"/>
  <xs:element name="quadrant_4_ChemicalConcentration" type="xs:float"/>  
  <xs:element name="quadrantBarrierChemicalConcentration" type="xs:float"/>
  <xs:element name="chemical" type="chemicalType"/>
  <xs:element name="ringChemical" type="chemicalType"/>
  <xs:complexType name="chemicalType">
    <xs:sequence>
      <xs:element name="diffusionCoefficient" type="xs:float"/>        
      <xs:element name="chemical_name" type="chemicalStrings"/>
      <xs:element name="isVolatile" type="python_boolean"/>
      <xs:element name="volatilitySpeed" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="python_boolean">
    <xs:annotation>
      <xs:documentation xml:lang="en">Temporal fix to support Sielegans 2016 implementation. I've defined this type since when exporting from Django Rest Framework exports it as True/False, while XSD boolean accepts true/false</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="True"/>
      <xs:enumeration value="False"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="chemicalStrings">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaCl"/>
      <xs:enumeration value="biotin"/>
      <xs:enumeration value="ethanol"/>
      <xs:enumeration value="butanone"/>
      <xs:enumeration value="CuSO4"/>
      <xs:enumeration value="SDS - Sodium dodecyl sulfate"/>
      <xs:enumeration value="quinine"/>
      <xs:enumeration value="benzaldehyde"/>
      <xs:enumeration value="diacetyl"/>
      <xs:enumeration value="NaN3"/>  
    </xs:restriction>
  </xs:simpleType>   
  <xs:simpleType name="genderStrings">
    <xs:restriction base="xs:string">
      <xs:enumeration value="M">
        <xs:annotation>
          <xs:documentation>Male</xs:documentation>
        </xs:annotation>
      </xs:enumeration>    
      <xs:enumeration value="FH">
        <xs:annotation>
          <xs:documentation>Female Hermaphrodites</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="bottomMaterialStrings">
    <xs:restriction base="xs:string">
      <xs:enumeration value="W">
        <xs:annotation>
          <xs:documentation>water</xs:documentation>
        </xs:annotation>
      </xs:enumeration>    
      <xs:enumeration value="G">
        <xs:annotation>
          <xs:documentation>gelatin</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="A">
        <xs:annotation>
          <xs:documentation>agar</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="shapeStrings">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CY">
        <xs:annotation>
          <xs:documentation>cylinder</xs:documentation>
        </xs:annotation>
      </xs:enumeration>    
      <xs:enumeration value="CU">
        <xs:annotation>
          <xs:documentation>cube</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HE">
        <xs:annotation>
          <xs:documentation>hexagon</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="galvanotaxisTypeString">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ES">
        <xs:annotation>
          <xs:documentation>Electric shocks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>      
  
  <xs:simpleType name="chemicalCategoryString">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DDT">
        <xs:annotation>
          <xs:documentation>Static point source</xs:documentation>
        </xs:annotation>
      </xs:enumeration>     
      <xs:enumeration value="SPS">
        <xs:annotation>
          <xs:documentation>Static point source</xs:documentation>
        </xs:annotation>
      </xs:enumeration>    
      <xs:enumeration value="CQ1">
        <xs:annotation>
          <xs:documentation>chemicalquadrants1</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CQ2">
        <xs:annotation>
          <xs:documentation>chemicalquadrants2</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CQ4">
        <xs:annotation>
          <xs:documentation>chemicalquadrants4</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OR">
        <xs:annotation>
          <xs:documentation>osmoticring</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="interactionTypeString">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PT">
        <xs:annotation>
          <xs:documentation>plateTap</xs:documentation>
        </xs:annotation>
      </xs:enumeration>     
      <xs:enumeration value="DWT">
        <xs:annotation>
          <xs:documentation>directWormTouch</xs:documentation>
        </xs:annotation>
      </xs:enumeration>    
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="directTouchInstrumentStrings">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EB">
        <xs:annotation>
          <xs:documentation>EYEBROW</xs:documentation>            
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VFH">
        <xs:annotation>
          <xs:documentation>VONFREYHAIR</xs:documentation>            
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PW">
        <xs:annotation>
          <xs:documentation>PLATINIUMWIRE</xs:documentation>            
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="phototaxisTypeStrings">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PSL">
        <xs:annotation>
          <xs:documentation>pointsourcelight</xs:documentation>            
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="termotaxisTypeStrings">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LT">
        <xs:annotation>
          <xs:documentation>linearThermalGradient</xs:documentation>            
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TC">
        <xs:annotation>
          <xs:documentation>temperatureChangeInTime</xs:documentation>            
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PS">
        <xs:annotation>
          <xs:documentation>pointsourceheatavoidance</xs:documentation>            
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="experimentCategoryStrings">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MS">
        <xs:annotation>
          <xs:documentation>mechanosensation</xs:documentation>            
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CT">
        <xs:annotation>
          <xs:documentation>chemotaxis</xs:documentation>            
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TT">
        <xs:annotation>
          <xs:documentation>termotaxis</xs:documentation>            
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GT">
        <xs:annotation>
          <xs:documentation>galvanotaxis</xs:documentation>            
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PT">
        <xs:annotation>
          <xs:documentation>phototaxis</xs:documentation>            
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>
